
<nav id="navigation-scrollspy" class="main-navigation navbar sticky-top navbar-expand-lg" role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    Visa/dölj meny
  </button>
  <div class="collapse justify-content-center navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" href="#bruden-brudgummen">Bruden &amp; brudgummen</a></li>
      <li class="nav-item"><a class="nav-link" href="#vigseln">Vigseln</a></li>
      <li class="nav-item"><a class="nav-link" href="#festen">Festen</a></li>
      <li class="nav-item"><a class="nav-link" href="#kontakt">Kontakt &amp; OSA</a></li>
      <li class="nav-item"><a class="nav-link" href="#onskelista">Önskelista</a></li>
    </ul>
  </div>
</nav>
