
<nav id="navigation-scrollspy" class="main-navigation navbar sticky-top navbar-expand-lg navbar-light bg-light" role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" href="#a">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#b">Link</a></li>
      <li class="nav-item"><a class="nav-link" href="#c">Disabled</a></li>
      <li class="nav-item"><a class="nav-link" href="#d">D</a></li>
    </ul>
  </div>
</nav>
