<!doctype html>
<html lang="sv_SE">
{% include head.html %}
<body data-spy="scroll" data-target="#navigation-scrollspy">
  <!--[if lt IE 9]>
          <p class="browserupgrade">Du använder en <strong>föråldrad</strong> webbläsare. Vänligen <a href="http://browsehappy.com/">uppdatera din webbläsare</a> för att förbättra din upplevelse.</p>
      <![endif]-->

  {% include site-header.html %}
  <main class="page-content">
      {% include main-navigation.html %}

      <section class="section bg-light" id="vigseln">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12 text-center"><h2>Vigseln</h2></div>
          </div>
          <div class="row py-5 flex-md-row-reverse justify-content-center">
            <div class="col-md-8 col-lg-6">
              <p class="lead">Vi kommer vigas i S:t Nicolai kyrka inne i centrala Örebro, klockan 14.15 den första september.</p>
              <p>Vi välkomnar alla till vigseln! Kyrkan har plats för 450 personer, så alla ryms utan att det blir trångt - även de som inte är bjudna på festen.<br/>
                Ni kommer mötas av värdar som delar ut program och visar er var ni ska sitta. Ett tips är att ta med näsdukar till att torka tårar, då brudparet (särskilt bruden) kommer vara otroligt vackra.
                <br/><br/>
                Vi ber er att inte fotografera under vigseln, utom vid de tillfällen då prästen säger till - efter vigseln kommer det finnas tid för fotografering på trappan utanför. Därefter är alla som fått inbjudningskort välkomna till Sköllersta Tingsgård för fest och mat!</p>
                <br/><br/>
                <strong>Klädkod:</strong> Kostym (mer uppklätt än så är självfallet välkommet)<br/>
                <strong>Barn:</strong> Mer än välkomna!<br/>
                <strong>Parkeringstips:</strong> Det finns två parkeringshus nära, Färgeriet och Nygatan. Det är inte det enklaste att hitta parkering inne i centrala Örebro, men vi rekommenderar ändå att ta bilen då det krävs för att ta sig till festen senare.<br/>
                <strong>Vår hashtag:</strong> #erikaochrichard<br/>
            </div>
            <div class="col-md-4">
              <img src="{{ "/assets/vigseln.jpg" | relative_url }}" alt="Vigseln" class="w-100 img-fluid" />
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="festen">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12 text-center"><h2>Festen</h2></div>
          </div>
          <div class="row py-5 justify-content-center">
            <div class="col-md-8 col-lg-6">
              <p class="lead">Vi kommer hålla festen i Sköllersta Tingsgård strax utanför Kumla. Det tar lite drygt fyra timmar att gå dit från kyrkan, men bara 25 min att köra, så vi rekommenderar bil.</p>
              <p>Det korta schemat ser ut som såhär:<br/>
                <strong>16:30-17:00</strong> Välkomstbål på trappan utanför<br/>
                <strong>17:00</strong> Ta emot bruden och brudgummen.<br/>
                <strong>17:15-sent</strong> Vi bjuder på mat & dryck, mer mat, tårta och (förhoppningsvis) en massa härlig underhållning från er gäster<br/>
                <strong>ca 01:00</strong> (eller när Erika är på väg att somna) Vinka adjö till brudparet när dom åker iväg till hotellet<br/>
                Ni är självklart välkomna att fortsätta festen även efter att brudparet har lämnat, dock med lägre ljudvolym efter 01:00.<br/>
                <br/><br/>
                Vi hoppas och tror att ni vill hjälpa oss att föreviga den här dagen med fina foton, och om ni publicerar på era sociala medier ber vi er att använda er av #erikaochrichard, så att vi också får ta del av era bilder! </p>
            </div>
            <div class="col-md-4">
              <img src="{{ "/assets/festen.jpg" | relative_url }}" alt="Festen" class="w-100 img-fluid" />
            </div>
          </div>
        </div>
      </section>

      <section class="section bg-light" id="onskelista">
        <div class="container">
          <div class="row pb-5 flex-md-row-reverse justify-content-center">
            <div class="col-12 text-center"><h2>Önskelista</h2></div>
          </div>
          <div class="row py-5 justify-content-center">
            <div class="col-md-8 col-lg-6">
              <p>
                Det vi egentligen önskar oss allra mest är en underbar dag med en grymt rolig fest! Vi hoppas ni vill hålla många (korta) tal, berätta anekdoter från svunna tider, spexa, sjunga, leka lekar, uppträda med dans eller okända talanger - bara er fantasi sätter gränser!
                <br/><br/>
                Utöver det är det ett skivsstångsset från Eleiko som står överst på önskelistan. Vi skulle bli så glada om vi fick möjligheten att köpa detta, och önskar oss därför ett bidrag för att göra denna dröm sann.
                <br/><br/>
                Om ni känner att ni vill bidra kan ni sätta in pengar på Gunilla Bodins konto, så ser hon till att pengarna kommer till oss på bröllopsdagen. På så sätt behöver ingen känna någon press - vi har ingen aning om ifall ni skickat en krona eller en miljon, och vi älskar er lika mycket oavsett :)
                <br/><br/>
                <strong>Bank:</strong> Nordea<br/>
                <strong>Clearing- och kontonummer:</strong> 3048 275 11 26
              </p>
            </div>
            <div class="col-md-4">
              <img src="{{ "/assets/onskelista.jpeg" | relative_url }}" alt="Festen" class="w-100 img-fluid" />
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="kontakt">
        <div class="container">
          <div class="row pb-5">
            <div class="col-12 text-center"><h2>Kontakt & OSA</h2></div>
          </div>
          <div class="row py-5 justify-content-center">
            <div class="col-md-6">
              <h3 class="mb-3">Anmälan</h3>
              <p>Anmäl om du/ni kommer, senast den 22/7.
              Glöm inte att skriva med eventuella allergier/matpreferenser i meddelandet, så vi hinner meddela cateringfirman.<br/>
              Om ni har några frågor är det bara att ni hör av er!
              <br/><br/>
              <a href="mailto:erikaochrichard@gmail.com">erikaochrichard@gmail.com</a>
            </p>
            <p>
              Erika Bodin<br/>
              <a href="tel:0738109512">073-810 95 12</a>
            </p>
            </div>
            <div class="col-md-6">
              <h3 class="mb-3">Underhållning eller spex?</h3>
              <p>Har ni något roligt planerat till festen? Kanske får vi se en dans? Eller höra ett tal? Berätta för Sofia senast 11/8 vad ni har tänkt göra och ungefär hur lång tid det tar, så hon har möjlighet att planera kvällens aktiviteter!
              <br/><br/>
              Sofia<br/>
              <a href="tel:0722297004">072-229 70 04</a>
            </p>
            </div>
          </div>
        </div>
      </section>
  </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
